body {
    margin: 10px;
    font-family: 'Arial';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'Arial';
}

.app {
    background: #fefefe;
    padding: 30px;
    height: 100vh;
}

.todo-list {
    background: #F6f8fa;
    border-radius: 10px;
    padding: 16px;
    max-width: 400px;
    border: 1px solid rgb(186,188,190,0.4);
    justify-content: flex-start;
}

.todo{
    background: #fff;
    box-shadow: 1px 1px 2px 1px rgba(97, 76, 76, 0.05);
    padding: 8px 10px;
    font-size: 16px;
    margin-bottom: 16px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid rgb(186,188,190,0.4);
    flex-grow: 1;
}

.input {
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: 4px;
    box-shadow: none;
    padding: 1rem;
    height: 2.25em;
    font-size: 16px;
}

.card-icon {
    font-size: 12px;
    flex-grow: 0;
    margin: 2px;
}

.todo-title {
    font-size: 14px;
    margin-left: 5px;
    flex-grow: 1;
    margin-top: -3px;
}

.remove {
    font-size: 12px;
    flex-grow: 0;
}

.completed {
    color: green;
    background-color: lightgray;
}

.column-title-container {
    font-size: 16px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}
.counter {
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    background-color: #DeE1E6;
    flex-grow:0;
    border: 1px solid rgb(186,188,190,0.2);
    font-size: 0.8rem;
    padding:2px;
    text-align: center;
    vertical-align: middle;
}
.column-title {
    flex-grow:1;
    margin-left: 10px;
}