body {
    font-family: 'Arial';
    margin: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'Arial';
}

.app {
    background: #fefefe;
    padding: 0px 30px;
    height: 100vh;
}

.todo-list {
    background: #F6f8fa;
    border-radius: 10px;
    padding: 16px 16px 0px 16px;
    width: 400px;
    border: 1px solid rgb(186,188,190,0.4);
    justify-content: flex-start;
}

.todo{
    background: #fff;
    box-shadow: 1px 1px 2px 1px rgba(97, 76, 76, 0.05);
    padding: 10px 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(186,188,190,0.4);
    flex-grow:1;
}

.todo:hover{
    cursor: all-scroll;
}

.input {
    background: #F6f8fa;
    border: 1px solid rgb(186,188,190,0.4);
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: none;
    padding: 1rem;
    height: 2.25em;
    font-size: 16px;
}

.input:focus {
    outline: none !important;
    border: 1px solid rgba(0, 0, 201, 0.4);
    box-shadow: 0px 0px 0px 4px rgba(83, 138, 201, 0.4);
}

.card-icon {
    font-size: 12px;
    flex-grow: 0;
    margin: 2px;
    width: 20px;
}

.todo-title {
    font-size: 14px;
    margin-left: 5px;
    flex-grow: 1;
    margin-top: -1px;
}

.remove {
    font-size: 12px;
    flex-grow: 0;
    width: 20px;
    z-index:700;
}

.completed {
    color: green;
    background-color: lightgray;
}

.column-title-container {
    font-size: 16px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}
.counter {
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    background-color: #DeE1E6;
    flex-grow:0;
    border: 1px solid rgb(186,188,190,0.2);
    font-size: 0.8rem;
    padding:2px;
    text-align: center;
    vertical-align: middle;
}
.column-title {
    flex-grow:1;
    margin-left: 10px;
}
.column-icon {
    flex-grow:0;
    margin-left: 10px;
}

.icon-svg {
    fill: #666666;
}

.icon-svg:hover {
    cursor: pointer;
}

.button-wrapper {
    display: flex;
    justify-items: stretch;
    margin: 0px;
    padding: 4px;
    width: 100%;
}

.btn {
    display:inline-block;
    flex-grow:1;
    flex-shrink:1;
    margin:10px 20px 10px 0px;
    font-weight:400;
    text-align:center;
    white-space:nowrap;
    vertical-align:middle;
    -ms-touch-action:manipulation;
    touch-action:manipulation;
    cursor:pointer;
    background-image:none;
    border:1px solid transparent;
    padding:10px 15px;
    font-size:14px;
    line-height:1.42857143;
    border-radius:6px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
} 

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline:5px auto -webkit-focus-ring-color;
    outline-offset:-2px
}

.btn.focus,
.btn:focus,
.btn:hover {
    color:#333;
    text-decoration:none
}

.btn.active,
.btn:active{
    background-image:none;
    outline:0;
    -webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow:inset 0 3px 5px rgba(0,0,0,.125)
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor:not-allowed;
    filter:alpha(opacity=65);
    opacity:.65;
    -webkit-box-shadow:none;
    box-shadow:none
}

a.btn.disabled,
fieldset[disabled] a.btn {
    pointer-events:none
}

.btn-default {
    color:#333;
    background-color:transparent;
    border-color:#ccc;
    border-radius:6px;
}

.btn-default.focus,
.btn-default:focus {
    color:#333;
    background-color:#e6e6e6;
    border-color:#8c8c8c
}

.btn-default:hover {
    color:#333;
    background-color:#e6e6e6;
    border-color:#adadad
}

.btn-default.active,
.btn-default:active,
.open>.dropdown-toggle.btn-default {
    color:#333;
    background-color:#e6e6e6;
    background-image:none;
    border-color:#adadad
}
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
    color:#333;
    background-color:#d4d4d4;
    border-color:#8c8c8c
}

.btn-default.disabled.focus,
.btn-default.disabled:focus,
.btn-default.disabled:hover,
.btn-default[disabled].focus,
.btn-default[disabled]:focus,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default.focus,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:hover {
    background-color:#fff;
    border-color:#ccc
}

.btn-default .badge {
    color:#fff;
    background-color:#333
}

.btn-primary {
    color:#fff;
    background-color:#2da44e;
    border-color:#2da44e;
    padding:10px 15px
}

.btn-primary.focus,
.btn-primary:focus {
    color:#fff;
    background-color:#2ea44f;
    border-color:#2c974b
}

.btn-primary:hover {
    color:#fff;
    background-color:#2ea44f;
    border-color:#2c974b
}

.btn-primary.active,
.btn-primary:active,
.open>.dropdown-toggle.btn-primary {
    color:#fff;
    background-color:#2c974b;
    background-image:none;
    border-color:#2c974b
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
    color:#fff;
    background-color:#2ea44f;
    border-color:#2c974b
}

.btn-primary.disabled.focus,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled].focus,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
    background-color:#2da44e;
    border-color:#2da44e
}

.btn-primary .badge {
    color:#2da44e;background-color:#fff
}

.expanded {
    visibility: visible;
    max-height: 4000px;
}

.collapsed {
    visibility: collapse;
    max-height: 0;
    transition: max-height 0.2s ease-out, visibility 0.1s ease-in
}

.menu {
    border: 1px solid rgb(186,188,190,0.4);
    background-color: #fff;
    border-radius: 10px;
    padding: 5px 10px ;
    min-width: 70px;
    z-index: 99999;
}

.menu::before {
    content:"";
    position: absolute;
    right: 21px;
    top: -6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 7px 7px;
    border-color: transparent transparent #fff transparent;
    z-index:9999;
}
.menu::after {
    content:"";
    position: absolute;
    right: 20px;
    top: -7px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent rgba(186,188,190,0.4) transparent;
    z-index:9998;
}

.menu-item {
    padding: 5px 0px;
    font-size: 12px;
    cursor: pointer;
}

.edit-form {
    position: absolute;
    padding-left: -30px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    padding-top: 10%;
    z-index: 999999;
    justify-content: center;
}

.edit-todo {
    position: relative;
    background: #fff;
    border-radius: 10px;
    padding: 16px 16px 0px 16px;
    height: auto;
    border: 1px solid rgba(186,188,190,0.4);
}